.card {
    padding: 1vh;
    margin: 1vh;
    display: flex;
    flex-direction: column;
    border: 1px solid #e1e4e8;
    border-radius: 6px;
    width: 16vw;
    min-width: 16em;
    max-width: 26em;
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card:active {
    border-color: #c0c2c6;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}

.header, .body {
    padding: 0 5%;
}

.body, .title {
    overflow: hidden;
    text-overflow: ellipsis;
}

.title {
    white-space: nowrap;
}

.card1 {
    background-color: #f1f8ff;
    border-color: #c8e1ff;
}

.card2 {
    background-color: #f0fff4;
    border-color: #bef5cb;
}

.card3 {
    background-color: #fffdef;
    border-color: #fff5b1;
}

.card4 {
    background-color: #fff8f2;
    border-color: #ffd1ac;
}

.card5 {
    background-color: #f5f0ff;
    border-color: #d1bcf9;
}

.buttons {
    display: flex;
}

.input {
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    resize: none;
}
