.iButton {
    background: none;
    border: none;
    cursor: pointer;
    height: 3em;
    width: 3em;
    border-radius: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    transition: 0.3s;
    margin-left: 3px;
}

.iButton:hover {
    background-color: rgba(0, 0, 0, .1);
}

.iButton:active {
    transition: none;
    background-color: #f1f8ff;
    border: 1px solid #c8e1ff;
}

.iButton:focus {
    border: 1px solid #c8e1ff;
}
